@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    background-color: #F5F7FB;;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    max-width: 600px;
    margin: 2em auto;
}


.intro-title {
    font-weight: 700;
    color: #293264;
}

.start-btn,
.check-answers-btn {
    border: none;
    border-radius: 10px;
    background-color: #4D5B9E;
    color: #F5F7FB;
    cursor: pointer;
    
}


.start-btn {
   padding: .8em 2.3em;
   font-size: 16px;
   font-weight: 300;
   margin-top: 2em;

}

.check-answers-btn {
    display: block;
    width: 120px;
    height: 35px;
    font-size: 10px;
    font-weight: 300;
    margin: 0 auto 1em;
}


.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    max-width: 600px;
    margin: 1em auto;
    border-bottom: 1px solid #D6DBF5;
}

.question {
    padding: 0 2em;
    font-size: .9rem;
    color: #293264;
    text-align: center;
    margin-bottom: 1em;
}

.options,
.selected-option {
    padding: .3em .8em;
    margin: .5em;
    font-size: .7rem;
    border: solid 1px #4D5B9E;
    border-radius: 7px;
    background: none;
    margin-bottom: 1.5em;
}


.selected-option {
    background-color: #D6DBF5;
}
